/* FONT */

@font-face {
  font-family: 'manaspaceregular';
  src: url('./manaspc-webfont.woff2') format('woff2'),
    url('./manaspc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* HEADER */

#pixelVaultLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#headerButtons {
  margin: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* HOME PAGE */

#home-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
  /* background-image: url('../assets/spaceInvaders.jpg');
  background-size: cover; */
}

#home-heading {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

#games-in-case {
  grid-column-start: 1;
  grid-row-start: 2;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#home-first-block-text {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: auto;
}

#home-second-block-text {
  grid-column-start: 1;
  grid-row-start: 3;
  margin: auto;
}

#consoles-and-controllers {
  grid-column-start: 2;
  grid-row-start: 3;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#home-store-display {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#home-third-block-text {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  text-align: center;
}

/* INSTAGRAM */

#instagram-heading {
  text-align: center;
}

/* NEWS PAGE */

#news-feed {
  display: grid;
}

#news-heading {
  text-align: center;
}

.news-entry {
  border: 2px solid;
  margin-bottom: 10px;
}

.news-entry-title {
  text-align: center;
}

.news-entry-date {
  text-align: center;
}

#game-over {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.news-entry-text {
}

/* EVENTS PAGE */

#events-page-container {
  background-image: url('../assets/spaceInvaders.jpg');
  background-size: contain;
  /* min-height: 80vh; */
}

#events-heading {
  text-align: center;
  color: white;
}

#google-calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CONTACT PAGE */

#contact-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  /* min-height: 80vh; */
}

#contact-heading {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  text-align: center;
}

#phone-sm {
  grid-column-start: 1;
  grid-row-start: 2;
  text-align: center;
}

#hours-holder {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
}

#map-holder {
  grid-column-start: 1;
  grid-row-start: 3;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}

#image-next-to-map img {
  grid-column-start: 2;
  grid-row-start: 3;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* MISC */

a:visited {
  color: white;
}

/* body {
  font-family: 'manaspaceregular';
} */

/* p {
  font-family: 'manaspaceregular';
} */

h1,
h2,
h3 {
  font-family: 'manaspaceregular';
}

.trash:hover {
  cursor: crosshair;
}

/* MOBILE */

@media screen and (max-width: 1000px) {
  #events-page-container,
  #contact-container,
  #news-container {
    min-height: 80vh;
  }

  #contact-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
  }

  #contact-heading {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
  }

  #phone-sm {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
  }

  #hours-holder {
    grid-column-start: 1;
    grid-row-start: 3;
    text-align: center;
  }

  #map-holder {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
  }
  #image-next-to-map {
    grid-column-start: 1;
    grid-row-start: 5;
  }

  #image-next-to-map img {
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #home-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto auto;
    /* background-image: url('../assets/spaceInvaders.jpg');
    background-size: cover; */
  }

  #home-heading {
    text-align: center;
    grid-column-start: 1;
  }

  #games-in-case {
    grid-column-start: 1;
    grid-row-start: 3;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #home-first-block-text {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: auto;
  }

  #home-second-block-text {
    grid-column-start: 1;
    grid-row-start: 4;
    margin: auto;
  }

  #consoles-and-controllers {
    grid-column-start: 2;
    grid-row-start: 5;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #home-store-display {
    grid-column-start: 1;
    grid-row-start: 6;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #home-third-block-text {
    grid-column-start: 1;
    grid-row-start: 7;
    text-align: center;
  }
}

/* BACKGROUND COLOR */

#events-page-container,
#contact-container,
#news-container,
#home-container {
  background-color: rgb(207, 205, 205);
}
