#pixelVaultLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#headerButtons {
  margin: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#news-heading {
  text-align: center;
}

#events-heading {
  text-align: center;
}

#contact-heading {
  text-align: center;
}

#google-calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
